
<p>
    <a style="float: left; " title="Link to Full Text Menu" target="_blank" href="http://140.163.1.213:9003/msk?{{ doc.source.is_type }}={{ doc.fixed_is_number }}&date={{ doc.publish_year }}&volume={{ doc.volume }}&issue={{ doc.fixed_issue }}&spage={{ doc.spage }}">
        <img src="/media/images/fulltext.gif" alt="Full Text at MSKCC" width="84" height="20">
    </a>
    <a style="float: right; " class="jqmClose" href="#"><img src="/media/images/close.gif" width="63" height="32" alt="Close" title="Close"></a>
</p>
<br>
<hr style="clear: both; ">

<p><strong>TITLE:</strong> {{ doc.title }}</p>
<br>
<p><strong>AUTHORS:</strong> {{ doc.author_names }}</p>
<p><strong>DISEASE MANAGEMENT TEAM:</strong> {{ doc.dmt.name }}</p>
<p><strong>AFFILIATIONS:</strong> {{ doc.affiliations }}</p>
<br>
<p><strong>ABSTRACT:</strong> {{ doc.abstract }}</p>
<br>
<p><strong>SOURCE:</strong> {{ doc.source.name }} &nbsp; <strong>YEAR:</strong> {{ doc.publish_year }} &nbsp; <strong>VOLUME:</strong> {{ doc.volume|default:"-" }} &nbsp;<strong>ISSUE:</strong> {{ doc.issue|default:"-" }} &nbsp;<strong>PAGES:</strong> {{ doc.page_range|default:"-" }}</p>
<p><strong>DOCUMENT TYPE:</strong> {{ doc.document_type }} &nbsp; <strong>DOI:</strong> {{ doc.doi|default:"-" }} &nbsp; <strong>LANGUAGE:</strong> {{ doc.language }}</p>



